.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccessapplication/images
application/core
application/errors
application/font-awesome-4.1.0
application/fonts
attachment
